<div class="modal-header">
    <h4 class="modal-title w-100 d-flex align-items-center justify-content-center">Мои обращения</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="container d-flex align-items-center flex-column mobile-container">
        <ng-container *ngIf="chats">
            <div class="list-group w-100">
                <div class="list-group-item custom-list-item d-flex align-items-center justify-content-between"
                    *ngFor="let c of chats">
                    <ng-container *ngIf="user.roles[0].id == 1">
                        <ng-container *ngIf="c.members[0].roles[0].id == 1">
                            <img class="avatar" src="{{c.members[1].avatar}}">
                            <div>
                                <div>{{c.members[1].prof + " - " + c.members[1].name}}</div>
                                <div class="dateChat">{{c.messages[c.messages.length-1].date | date: 'HH:mm:ss dd.MM.yy' : '' : 'ru'}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="c.members[0].roles[0].id == 2">
                            <img class="avatar" src="{{c.members[0].avatar}}">
                            <div>
                                <div>{{c.members[0].prof + " - " + c.members[0].name}}</div>
                                <div class="dateChat">{{c.messages[c.messages.length-1].date | date: 'HH:mm:ss dd.MM.yy' : '' : 'ru'}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="user.roles[0].id == 2">
                        <ng-container *ngIf="c.members[0].roles[0].id == 1">
                            <img class="avatar" src="{{c.members[0].avatar}}">
                            <div>
                                <div>{{c.members[0].name}}</div>
                                <div class="dateChat">{{c.messages[c.messages.length-1].date | date: 'HH:mm:ss dd.MM.yy' : '' : 'ru'}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="c.members[0].roles[0].id == 2">
                            <img class="avatar" src="{{c.members[1].avatar}}">
                            <div>
                                <div>{{c.members[1].name}}</div>
                                <div class="dateChat">{{c.messages[c.messages.length-1].date | date: 'HH:mm:ss dd.MM.yy' : '' : 'ru'}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="funcs">
                        <img class="chat-btn" src="assets/icons/bubbles.svg" (click)="chat(c)" width="20px" alt="@" />
                        <img class="chat-btn" src="assets/icons/bin.svg" (click)="remove(c)" width="20px" alt="@" />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>